*{
    margin:0px;
    padding:0px;
}
#gall{
    height:850px;
    margin-left:30px;
    margin-bottom: 100px;
}
.img1 img{
    height:150px;
    margin:25px;
    padding: 15px;
    border: 2px solid rgb(234, 227, 227);
    border-radius: 10px;
    box-shadow: 4px 8px 12px rgb(72, 70, 70) ;
}
.img1{
    display:inline-block;
}

h1{
    margin-left:0px;
    margin-top:5px;
    color: rgb(29, 235, 204);
}

