*{
    margin:0px;
   padding: 0px;
}


#service{
    background-color: rgb(240, 234, 234);

}

#service h1{
     margin-top:5px;
     text-align: center;
     margin-bottom: 20px;
     font-size: 50px;
     color: orange;
}
#service .icon{
    display: inline-flex;
    margin-left:150px;
}
 

#service .icon img{
    height:170px;
    
} 

#service .icon .line1{
    height: 200px;
    width: 200px;
    /* border: 3px solid; */
    border-radius: 10px;
    padding-left:40px;
    background-color: white;
    box-shadow: 4px 8px 12px;


}
.head h1{
    margin-bottom: 20px;
    text-align: center;
    margin-left: 200px;
    color:white;
    padding-top:10px;
}

#service .icon .line2{
    height: 200px;
    width: 200px;
    /* border: 3px solid; */
    padding-left:60px;
    margin-left:80px;
   background-color: white;
   background-color: white;
    box-shadow: 4px 8px 12px;

}



#service .icon .line3{
    height: 150;
    width: 200px;
    /* border: 3px solid; */
    padding-left:40px;
    margin-left:80px;
    background-color: white;
    background-color: white;
    box-shadow: 4px 8px 12px;

}


/* ********************contact*************************************** */
